

.card__container{
    min-width: 47%;
    border-radius: 0.8rem;
    /* background-color: rgba(240, 240, 240,1); */
    color: rgba(0, 0, 0,1);
    /* width: 50%; */
    margin-left: auto;
    margin-right: auto;
    margin-right: 39px;
    padding: 20px;
}

.card__container .item {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    border-radius: 0.8rem;
    align-items: center;
    max-width: 18rem;
    min-width: 9rem;
    flex: 1 1 0%;
    padding: 0.8rem;
    /* background-color: rgba(255, 255, 255,1); */
    transition: filter 200ms ease-in-out 0s;
    cursor: pointer;
    margin: 10px;
}

.item img {
    text-align: center;
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50px !important;
}

.bg-purple-600{
    background: black !important;
    color: white !important;
}

.bg-purple-600:hover{
    background: black !important;
    color: white !important;
    opacity: 0.8; 
}